
body{
  overflow: hidden;
}
.App {
  font-size: 26px;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes toggleCursor{
  0%{
    opacity: 0;
  }
}
span{
  animation-name: toggleCursor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}